html(lang="en")
  head
    title= 'Sign In Successful'
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css')
  body
    h3 Welcome, #{name}
    h4='My Bio'
    p=bio
    img(src=pic alt='profile_pic' style='width:200px; height:200px;')
    a(href='/logout') Logout
    